*.class
*.jar


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
#*.war
#*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
#hs_err_pid*

# netbeans
/nbproject/private
/build/
manifest.mf
nbbuild.xml
nbproject

# Intelli J
.idea/

# Files
src/program-test-242-1/Settings.txt
src/program-test-242-1/testResults.txt
src/program-test-242-1/build.properties
users.txt
Settings.txt
build.properties

# folders
ant
bin
src/winbashhome
src/program-test-242-1/src/
jdk1.7.0_71/
apache-ant-1.8.2/
test/
junit4.10/
junit-demo/
junit4.11/

lab1+ant-demo-20150915/
java-tester-demo/
